PROJECT_URL=https://mphngdkxxibdaegehlmj.supabase.co/functions/v1
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9... (tu anon key público)
DROPI_EMAIL=tu_correo_de_dropi@ejemplo.com
DROPI_PASSWORD=tu_contraseña_secreta
